$white: #ffffff;
$gray: #505982;
$blue: #2F3FDE;
$red: #F6465D;
$blue-gradient: #3D2FDE;
$purple-gradient: #B32DE2;
$black-gradient: #00000033;

$form-bg-color: #23224a99;
$form-gray-color: #292854b3;
$primary-bg-color: #1D1B3F;
$dark-bg-color: #23224A;
$primary-gradient: linear-gradient(60.72deg, $blue-gradient 1.97%, $purple-gradient);
$blue-gradient : linear-gradient(45.97deg, rgba(71, 217, 250, 0.82) 10.25%, rgba(45, 171, 242, 0.82) 92.73%);
$hover-big-btn:  linear-gradient(0deg, $black-gradient, $black-gradient), $primary-gradient;

$hover-small-btn: #505982;

$primary-blur: blur(9.5px);
$blur50: blur(50px);

$bdrd-small: 5px;
$bdrd-primary: 10px;
$bdrd-round: 25px;

$fz-faq: 45px;
$h1-font-size: 40px;
$h2-font-size: 36px;
$h3-font-size: 32px;
$h4-font-size: 24px;
$fz-btn: 22px;
$fz-storng: 20px;
$fz-middle: 18px;
$fz-primary: 16px;

$phone: 480px;
$phablet: 576px;
$tablet: 820px;
$tablet-large: 992px;


%flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}