@import '../../styles/assets/variables.scss';
.steps {
    h3 {
        text-align: center;
    }
    &__block {
        @extend %flex-between;
        margin-top: 30px;
        align-items: stretch;
        padding-bottom: 80px;
        .stepBlock {
            flex: 1 1 auto;
            width: 100%;
            max-width: 390px;
            border-radius: $bdrd-round;
            padding: 20px 30px;
            background: $form-bg-color;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                margin: 15px 0px;
                max-width: 315px;
                line-height: $h4-font-size;
                letter-spacing: 0px;
                &:nth-child(1) {
                    transform: translateY(-10px);
                }
            }
            strong {
                font-weight: 400;
            }
            &:nth-child(1) {
                strong {
                    cursor: url(../../styles/assets/images/icons/HandPointing.svg), pointer;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-image: $primary-gradient;
                    transition: .3s all;
                    width: fit-content;
                }
            }
        }
    }
   
    .aboutCurrency {
        display: flex;
        justify-content: space-between;
        padding: 82px 0px 100px;
        &__img {
            max-width: 450px;
            width: 100%;
            background: url(../../styles/assets/images/btc.png) center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            .blur {
                width: 120px;
                height: 120px;
                filter: $blur50;
                border-radius: $bdrd-round;
                position: absolute;
                z-index: -1;
                transform-origin: 50% 200px;
                right: calc(50% - 80px);
                animation:  rotationAnim 4s linear 0s infinite;
                &.top {
                    background: $blue-gradient;
                    animation-timing-function: ease;
                }
                &.bottom {
                    background: $primary-gradient;
                    animation-direction: reverse;
                    animation-timing-function: ease-in-out;
                }
            }
        }
        &__text {
            padding: 54px 0px;
            h2 {
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 40px;
                max-width: 750px;
                width: 100%;
                font-size:$h4-font-size ;
                line-height: $h2-font-size;
            }
            &__list {
                display: flex;
                flex-direction: column;
                span {
                    font-size: $fz-middle;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    &:before {
                        content: '';
                        width: 44px;
                        height: 44px;
                        margin-right: 20px;
                        border-radius: $bdrd-small;
                    }
                    &:nth-child(1) {
                        &:before {
                            background: no-repeat url(../../styles/assets/images/icons/CurrencyDollar.svg) center, $form-bg-color;
                        }
                    }
                    &:nth-child(2) {
                        &:before {
                            background: no-repeat url(../../styles/assets/images/icons/Wind.svg) center, $form-bg-color;
                        }
                    }
                }
            }
        }
    }
}
@keyframes rotationAnim {
    to{
        transform: rotate(1turn);
    }
}