@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
body {
    margin: 0;
    color: $blue;
}
.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}
li {
    list-style-type: none;
}