@import '../../styles/assets/variables.scss';
@import '../../styles/assets/mixins.scss';

.main {
    padding: 80px 0px;
    @include sm {
        padding: 50px 0px;
        overflow-x: hidden;
    }
    &__text {
        max-width: 570px;
        width: 100%;
        @include sm {
            text-align: center;
            margin-top: 30px;
        }
        @include lmd {
            text-align: center;
            margin-top: 50px;
        }
        p {
            font-size: $fz-storng;
            padding: 15px 0px 40px;
            @include sm {
                font-size: $fz-primary;
            }
        }
    }
    &__wrapper {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap-reverse;
        @include md {
            justify-content: center;
        }
    }
    &__ctn {
        background: $form-bg-color;
        border-radius: $bdrd-round;
        letter-spacing: 1px;
        padding: 30px 40px;
        max-width: 100%;
        position: relative;
        text-align: center;
        height: fit-content;
        @include sm {
            padding: 30px;
        }
        @include lmd {
            margin-bottom: 40px;
        }
        &:before {
            content: '';
            background: url(../../styles/assets/images/topCoin.png) center center;
            background-size: cover;
            position: absolute;
            width: 134px;
            height: 134px;
            top: -60px;
            right: -50px;
            @include sm {
                width: 90px;
                height: 90px;
                top: -40px;
                right: -35px;
            }
        }
        &:after {
            content: '';
            background: url(../../styles/assets/images/bottomCoin.png) center center;
            background-size: cover;
            position: absolute;
            width: 140px;
            height: 140px;
            left: -70px;
            bottom: -60px;
            @include sm {
                width: 77px;
                height: 77px;
                bottom: -20px;
                left: -25px;
            }
        }
        p {
            font-size: $fz-middle;
            margin-bottom: 5px;
            @include sm {
                font-size: 14px;
            }
            & + span {
                @include sm {
                    font-size: 12px;
                }
            }
        }
        
    }
}
.blurRound {
    width: 120px;
    height: 120px;
    filter: $blur50;
    z-index: -1;
    position: absolute;
    border-radius: 100%;
    &.top {
        top: -30px;
        left: -30px;
        background: $blue-gradient;
    }
    &.bottom {
        bottom: -30px;
        right: -30px;
        background: $primary-gradient;
        
    }
}
.countDown {
    font-size: $h1-font-size;
    margin: 18px 0px 30px;
    @include sm {
        font-size: 34px ;
    }
    & > span {
        background: $form-gray-color;
        padding: 18px 19px;
        border-radius: $bdrd-round;
        margin: 0px 10px;
        &:nth-child(2) {
            margin-right: 30px;
            @include sm {
                margin-right: 20px;
            }
        }
        &:nth-child(3) {
            margin-left: 30px;
            @include sm {
                margin-left: 20px;
            }
        }
        @include sm {
            padding: 16px 15px;
            margin: 0px 8px;
        }
    }
    
}